{% extends 'components/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'app_general/hometext.css' %}"> 
<link rel="stylesheet" href="{% static 'app_general/logoxcal.css' %}">
<div class="logo">
  <img class="logoimage" src="{% static 'app_general/LOGO-Xcal.jpg' %}">
</div>
<p class="topic">PROJECT-CALX</p>
<p class="subtopic">ดูเเลสุขภาพกันด้วยนะคร้าบบ</p>
<p class="subtopic">Your BMR is
  {% for calculated_bmr in calculated_bmr_values %}
  {{ calculated_bmr }}
  {% endfor %}
</p>

<p class="ranbutt"><a href="{% url 'ranfood' %}" class="butt">random</a></p>

{% endblock %}